{% extends 'base.html.twig' %}

{% block body %}
    <h1>Addresses list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Details</th>
                <th>City</th>
                <th>Province</th>
                <th>Country</th>
                <th>Createdat</th>
                <th>Isactive</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for address in addresses %}
            <tr>
                <td><a href="{{ path('address_show', { 'id': address.id }) }}">{{ address.id }}</a></td>
                <td>{{ address.details }}</td>
                <td>{{ address.city }}</td>
                <td>{{ address.province }}</td>
                <td>{{ address.country }}</td>
                <td>{% if address.createdAt %}{{ address.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if address.isActive %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('address_show', { 'id': address.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('address_edit', { 'id': address.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('address_new') }}">Create a new address</a>
        </li>
    </ul>
{% endblock %}
