{% extends 'base.html.twig' %}

{% block body %}
    <h1>Media list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Path</th>
                <th>Name</th>
                <th>Details</th>
                <th>Isactive</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for medium in media %}
            <tr>
                <td><a href="{{ path('media_show', { 'id': medium.id }) }}">{{ medium.id }}</a></td>
                <td>{{ medium.type }}</td>
                <td>{{ medium.path }}</td>
                <td>{{ medium.name }}</td>
                <td>{{ medium.details }}</td>
                <td>{% if medium.isActive %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('media_show', { 'id': medium.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('media_edit', { 'id': medium.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('media_new') }}">Create a new medium</a>
        </li>
    </ul>
{% endblock %}
